<div data-widget="scrollytelling_pageflow_navigation">
  <!-- <div class="parent_page"><%= t('pageflow.public.back') %></div> -->

  <nav id="scrollytelling-pageflow-navigation">
    <ul>
      <% entry.pages.
           displayed_in_navigation.
           limit(25).
           each do |page| %>
        <li>
          <a href="#<%= page.perma_id %>" data-page-id="<%= page.id %>">
            <span></span>
          </a>
          <% if page.configuration["title"].present? %>
            <div class="scrollytelling-pageflow-navigation-tooltip">
              <%= page.configuration["title"] %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>

  <% if entry.home_button.enabled? %>
  <ul class="scrollytelling-home_button scrolly-nav-box">
    <li><%= link_to 'Terug naar home', entry.home_button.url, id: 'home-button', title: t('pageflow.public.show_home') %></li>
  </ul>
  <% end %>

  <ul class="scrollytelling-sharing scrolly-nav-box">
    <li><a href="#" id="share-tw"></a></li>
    <li><a href="#" id="share-fb"></a></li>
  </ul>

  <ul class="scrollytelling-options scrolly-nav-box">
    <li><a href="#" id="scrollytelling-audio" class="audio-playing"></a></li>
  </ul>
</div>
